server {
    listen 80;
    server_name {{app.remote.site}};

    location /static {
        alias {{app_home_dir}}/static;
    }

    location / {
        proxy_pass http://unix:/tmp/{{app.remote.site}}.socket;
        proxy_set_header Host $host;
    	proxy_set_header X-Forwarded-Host $server_name;
    }
}
