{% extends 'base.html' %}

{% block title %}Attendance{% endblock %}

{% block body %}
    Welcome to the Attendance

    <form action="{% url 'config:attendance:bible_study' %}" method="post">
      {% csrf_token %}
      <input id="id_bible_study" type="submit" value="Bible Study">
    </form>

    <form action="{% url 'config:attendance:sunday_school' %}" method="post">
      {% csrf_token %}
      <input id="id_sunday_school" type="submit" value="Sunday School">
    </form>

    <form action="{% url 'config:attendance:summer_club' %}" method="post">
      {% csrf_token %}
      <input id="id_summer_club" type="submit" value="Summer Club">
    </form>

{% endblock %}