{% extends 'attendance/home.html' %}

{% block body %}
    <h1>Summer Club</h1>

    <form action="{% url 'config:attendance:sc_attendance' %}" method="post">
      {% csrf_token %}
      <label for="card_number">Please enter the card number:</label><br>
      <input type="number" id="card_number" name="card_number"><br>
      <input type="submit" value="Submit">
    </form>

    <form action="{% url 'config:attendance:sc_attendance_name' %}" method="post">
      {% csrf_token %}
      <label for="card_number">Please enter the student's name:</label><br>
      <input id="full_name" name="full_name" list="Full Name"><br>
        <datalist id="Full Name">
        {% for student in student_names %}
            <option value="{{ student }}">
        {% endfor %}
        </datalist>
      <input type="submit" value="Submit">
    </form>

    <p>Attendance Count: {{ attendance_count }}</p>

    {% if err %}
        <p>{{ err }}</p>
    {% endif %}
{% endblock %}
